.hero{
    background-image: url('./assets/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
}
.nav .nav-item:hover{
    cursor: pointer;
}

.header h2::after{
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background-color: #0d6efd;
    margin: 8px auto;
}

.card-skills:hover{
    background-color: #292929;
    cursor: pointer;
}
.card-skills:hover i{
    color: white;
}
.card-skills:hover h5{
    color: white;
}


.card-project {
    overflow: hidden; /* Ensure content stays within card bounds */
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    height: auto;
  }

  
  .card-project .card-img-top {
    transition: transform 0.5s ease; /* Smooth zoom transition */
    min-height: 200px;
  }
  
  .card-project:hover .card-img-top {
    transform: scale(1.1); /* Zoom the image */
  }
  